#include <winresrc.h>

1 ICON "icon.ico"

1 VERSIONINFO
FILEVERSION     0,9,0,226
PRODUCTVERSION  0,9,0,226
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          0x4L
FILETYPE        0x1L
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "e1z0"
            VALUE "FileDescription",  "Benchy - cross-platform system benchmarking tool written in Go and Qt"
            VALUE "FileVersion",      "0.9.0.226"
            VALUE "InternalName",     "Benchy"
            VALUE "LegalCopyright",   "Copyright (c) 2025 Justinas K"
            VALUE "OriginalFilename", "Benchy.exe"
            VALUE "ProductName",      "Benchy"
            VALUE "ProductVersion",   "0.9.0.226"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1252
    END
END
